<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Demo</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Van demo</a>
    <div navbar-nav ml-auto>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h2>
            <span th:text="'Hello, '"></span> <span sec:authentication="name"></span>
        </h2>
        <div th:text="${message}"></div>
        <h3>Session Id</h3>
        <p th:text="${#httpSession.id}"/>
        <h3>Port</h3>
        <p th:text="${port}"/>

    </div>

    <h3>Add Book</h3>
    <form action="#" th:action="@{/saveBook}" th:object="${book}" method="post">
        <ul>
            <li th:errors="*{name}" />
            <li th:errors="*{author}" />
        </ul>
        <table border="1">
            <tr>
                <td><label th:text="Name" /></td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>

            <tr>
                <td><label th:text="Author" /></td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>

    <h3>Books</h3>
    <ol>
        <li th:each="book : ${books}" th:text="${'Name: ' + book.name + ' - Author: ' + book.author}"></li>
    </ol>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
